<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ftpurl" value="ftp://172.21.73.118:10022/" />
		<add key="ftpuser" value="pmpcteam" />
		<add key="ftppass" value="P@ssw0rd" />
		<add key="clouduser" value="eic2" />
		<add key="cloudpass" value="kp130" />
		<add key="urlpm" value="http://cloudstorage.krakatauposco.co.id/apps/files/?dir=/Plate%20Mill%20L2%20Data%20Request&amp;fileid=1138107" />
		<add key="urlfce" value="http://cloudstorage.krakatauposco.co.id/apps/files/?dir=/Plate%20Mill%20L2%20Data%20Request/FCE&amp;fileid=1673645" />
		<add key="urlmill" value="http://cloudstorage.krakatauposco.co.id/apps/files/?dir=/Plate%20Mill%20L2%20Data%20Request/FM&amp;fileid=1673644" />
		<add key="urlacc" value="http://cloudstorage.krakatauposco.co.id/apps/files/?dir=/Plate%20Mill%20L2%20Data%20Request/ACC&amp;fileid=1673646" />
		<add key="urlshear" value="http://cloudstorage.krakatauposco.co.id/apps/files/?dir=/Plate%20Mill%20L2%20Data%20Request/SHEAR&amp;fileid=1673647" />
	</appSettings>
</configuration>