<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ftpurl" value="yourftp" />
		<add key="ftpuser" value="yutuser" />
		<add key="ftppass" value="yourpass" />
		<add key="clouduser" value="clouduser" />
		<add key="cloudpass" value="cloudpass" />
		<add key="urlpm" value="url1" />
		<add key="urlfce" value="url2" />
		<add key="urlmill" value="url3" />
		<add key="urlacc" value="url4" />
		<add key="urlshear" value="url5" />
	</appSettings>
</configuration>
